BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 0
SpaceBeforeParens: Always
IndentCaseLabels: true
AlwaysBreakAfterReturnType: None
SortIncludes: false
IncludeBlocks: Preserve
PointerAlignment: Left
ReferenceAlignment: Left
BinPackArguments: false
AccessModifierOffset: 1  # Сдвиг ключевых слов доступа на одну табуляцию
IndentAccessModifiers: true  # Сдвигает ключевые слова доступа
