### Сгенерированные компилятором ###
/GolubRun
*.exe
*.out
*.app
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.class
*.jar
*.war
*.ear
*.log

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json

# Системные
.DS_Store
Thumbs.db

### Папки сборки ###
build/
bin/
obj/
out/
x64/
x86/
Debug/
Release/
CMakeFiles/

# Корки
*.out

# Сохранения
*.FireForestSouls-GolubRun
